# .coveragerc to control coverage.py
[run]
branch = True
source =
    COT
omit =
    */tests/*
    COT/_version.py
    COT/commands/demo_logging.py
    setup.py
    versioneer.py
    .eggs/*
    *easy_install*
    */pypy/*
    */lib_pypy/*
    */distutils/*

[paths]
source =
    COT
    .tox/*/lib/python*/site-packages/COT
    .tox/pypy/site-packages/COT
