# .coveragerc to control coverage.py
[run]
branch = True
omit =
    COT/tests/*
    COT/disks/tests/*
    COT/helpers/tests/*
    COT/ovf/tests/*
    COT/platforms/tests/*
    COT/_version.py
    setup.py
    versioneer.py
    .tox/*
    .eggs/*
    *easy_install*
    */pypy/*
    */lib_pypy/*
    */distutils/*
