# .coveragerc to control coverage.py
[run]
branch = True
omit =
    */tests/*
    COT/_version.py
    setup.py
    versioneer.py
    .tox/*
    .eggs/*
    *easy_install*
    */pypy/*
    */lib_pypy/*
    */distutils/*
