[MASTER]

load-plugins=verboselogs.pylint

# Ignore generated code we don't control
ignore=_version.py

[MESSAGE CONTROL]

#
# Disabled due to redundancy with flake8:
#   bad-continuation
#   trailing-whitespace
#
disable=bad-continuation,
  duplicate-code,
  fixme,
  invalid-name,
  locally-disabled,
  trailing-whitespace,

[BASIC]

# When enabling invalid-name, stop complaints about 'invalid constant logger'
# good-names=i,j,k,logger,_

# When enabling invalid-name, stop complaints about test method names too long
# method-rgx=(test_[a-z0-9_]*|[a-z_][a-z0-9_]{2,30})$

[DESIGN]

# Current thresholds - to be driven down over time

max-args=10
max-attributes=98
# default: max-bool-expr=5
max-branches=67
max-locals=65
max-public-methods=73
min-public-methods=0
max-returns=9
max-statements=201

[FORMAT]

max-module-lines=3800


[TYPECHECK]

# Pylint false no-member error about "from pyVmomi import vim"
ignored-modules=pyVmomi

[VARIABLES]

# Any _foo variable is a valid dummy name
dummy-variables-rgx=^_.*$